body {
  margin: 0;
  overflow: hidden;
  background: black;
}

video, canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* Snapchat selfie mirror */
video, canvas {
  transform: scaleX(-1);
}
